.wrapper{
    width: 100%;
    height: 200vh;
}
.wrapper header{
    width: 100%;
    height: 15vw;
    background-color: #fff;

    display: flex;
}
.wrapper header .icon{
    display: flex;
    position: absolute;
}

.wrapper header .icon img{
    width: 7vw;

}
.line_01{
    height: 1px;
    border: none;
    border-top: 1px solid #000;
    margin-top: 3vw;
}
.wrapper .tweet{
    width: 100%;
    box-sizing: border-box;
    padding: 2.5vw;
    user-select: none;
    display: flex;
    margin-bottom: 10vw;
}
.wrapper .tweet .img-head{
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    margin-top: 1vw;
}
.wrapper .tweet .tweet-info{
    margin-top: 1vh;
    margin-left: 1vw;
    height: 14vh;
}
.wrapper .tweet .tweet-info .tweet-info-name{
    font-size: 4vw;
    font-weight: bolder;
}
.wrapper .tweet .tweet-info .tweet-info-realname{
    font-size: 3vw;
}
.wrapper .tweet .tweet-info .tweet-info-text{
    font-size: 3vw;
    font-weight: 500;
}
.wrapper .tweet .tweet-info .auth{
    width: 3vw;
}
.wrapper .tweet .tweet-info .pattern{
    width: 5vw;
    margin-right: 2vw;
}
.wrapper .tweet .tweet-info .num{
    color: #666;
    font-size: 3vw;
    margin-right: 8vw;
}
.wrapper .footer{
    width: 100%;
    height: 14vw;
    border-top: solid 1px #DDD;
    background-color: #fff;

    position: sticky;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper .footer img{
    width: 7vw;
}